<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%logger{1}] - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name=" uk.gov.justice.services.management" level="WARN"/>
        <Logger name="uk.gov.justice.framework.command" level="INFO"/>
        <Root level="ERROR">
            <appender-ref ref="Console" />
        </Root>
    </Loggers>
</Configuration>
